.s {
  text-decoration: none;
}



.works-container{
  position: relative;
  height: 550px;
  width: 75%;
  margin-left: 160px;
  border-radius: 20px;
  overflow: hidden;
  border-color: #4caf50;
  align-items: center;
  top: -250px;
}
 .work-name {
  color: #4caf50; 
  font-size: 32px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}



 .item {
   position: absolute;
   width: 200px;
   height: 300px;
   border-radius: 30px;
   list-style-type: none;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;
   background-position: center;
   background-size: cover;
   border-radius: 20px;
   box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
   transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
 
   &:nth-child(1), &:nth-child(2) {
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     transform: none;
     border-radius: 10px;
     box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
     opacity: 1;
   }
 
   &:nth-child(3) { left: 50%; }
   &:nth-child(4) { left: calc(50% + 220px); }
   &:nth-child(5) { left: calc(50% + 440px); }
   &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
 }
 
 .content {
   width: min(30vw,400px);
   position: absolute;
   top: 50%;
   left: 3rem;
   transform: translateY(-50%);
   font: 400 0.85rem helvetica,sans-serif;
   color: black;
   text-shadow: 0 3px 8px rgba(0,0,0,0.5);
   opacity: 0;
   display: none;
 
   & .work-name {
     font-family: 'arial-black';
     text-transform: uppercase;
     color: #ffffff ;
     padding-bottom: 65px;
     padding-left: 20px;
   }
 
   & .description {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 8px;
    text-align: justify;
    padding-top: 305px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
   }
   & button {
    width: 128px;
    height: 48px;
    background-color: #000000;
    color: #fff;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding-buttom: 1px;
    text-decoration: none;
  }
  .bi.bi-browser-chrome path {
    fill: #fff;
  }
 }
 
 .item:nth-of-type(2) .content {
   display: block;
   animation: show 0.75s ease-in-out 0.3s forwards;
 }
 
 @keyframes show {
   0% {
     filter: blur(5px);
     transform: translateY(calc(-50% + 75px));
   }
   100% {
     opacity: 1;
     filter: blur(0);
   }
 }
 
 .nav {
   position: absolute;
   bottom: 1rem;
   left: 60%;
   transform: translateX(-50%);
   z-index: 5;
   user-select: none;
   color: #58f87f;
 
   & .btn {
     background-color: rgba(255,255,255,1);
     color: #6610f2;
     border: 2px solid #fff;
     margin: 0 0.25rem;
     padding: 0.75rem;
     border-radius: 50%;
     cursor: pointer;
 
     &:hover {
       background-color: rgba(255,255,255,1);
     }
   }
   
 }
 
 @media (width > 650px) and (width < 900px) {
   .content {
     & .work-name        { font-size: 1rem; }
     & .description  { font-size: 0.7rem; }
     & button        { font-size: 0.7rem; }
   }
   .item {
     width: 160px;
     height: 270px;
   }
     &:nth-child(3) { left: 50%; }
     &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}


