<style>
  body{
    background-color: #6c757d;
    color: #fff;
    font-family: 'Open Sans', sans-serif;  
      }

      .bi.bi-arrow-down-right-circle-fill{
       
        width: 69px;
        height: 88px;
        fill: #fff;
        
      }
      .bi.bi-arrow-down-right-circle-fill:hover{
        fill: #000;
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.1);
      }
      .heading{
        margin-left: 120px;
        padding: 10px;
        font-size: 45px;
        font-weight: 600;
        color: #000;
        margin-top: 115px;
      }
      .heading:hover{
        color: #fff;
        cursor: pointer;
        transition: 0.5s;
       

      }
      .svg-position
      {
        position: absolute;
        top: 53px;
        left: 52px;
 
      }
      .message-form{
        padding: 30px;
      }
      form {
        position: relative;
        padding: 20px;
        width: 100%;
      }
      label {
        
        color: #fff;
        
      }
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 2px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding-top: 10px;
        background-color: #000;
        color: yellow;
      }
      hr {
        background-color: #000;
        height: 2px; /* Adjust the height as needed */
        border: none;
        margin: 10px 0; /* Adjust the margin as needed */
      }
      .getintouch{
        position: relative;
        margin-left: 40%;
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: center;
        width: 14vw;
        height: 14vw;
        background-color: #000;
        border-radius: 50%;
        transition: 1s box-shadow;
        border: #fff solid 2px;
      }
      
      .getintouch h1{
        font-size: 1.5vw;
        font-weight: 700;
      }
      
      .getintouch:hover{
        cursor: pointer;
        background-color: #000;
        color: yellow;
        border: transparent;
        transition-property: transform;
        transition-duration: 5800ms;
        transition-timing-function: ease-in;
        box-shadow: 0 0 10px #fff;
      }

      .submit{
        background-color: #000;
        color: yellow;
      }

      .submit:hover {
        background-color: #000;
        color: yellow;
      }
      
      .social-background{
        position: relative;
        width:96%;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        items-align: center;
        background-color: #000;
        border-radius: 10px;
        box-shadow: 0 0 10px #fff;
        margin-bottom: 30px;
        
        text-align: center; 
      }
      a{
        color: #fff;
        font-size: 25px;
        text-decoration: none;
        padding-left: 10px;
        margin:5px;
        padding-top: 10px;
      }

      a:hover{
        color: yellow;
      }
      
      
      

    
</style>

    
    <div class="heading">
      <div class="svg-position">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-down-right-circle-fill" viewBox="0 0 16 16">
          <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m5.904-2.803a.5.5 0 1 0-.707.707L9.293 10H6.525a.5.5 0 0 0 0 1H10.5a.5.5 0 0 0 .5-.5V6.525a.5.5 0 0 0-1 0v2.768z"/>
        </div>
        Come along for the ride <svg xmlns="http://www.w3.org/2000/svg" width="25" height="36" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
          <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A5 5 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A5 5 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623M4 7v4a4 4 0 0 0 3.5 3.97V7zm4.5 0v7.97A4 4 0 0 0 12 11V7zM12 6a4 4 0 0 0-1.334-2.982A3.98 3.98 0 0 0 8 2a3.98 3.98 0 0 0-2.667 1.018A4 4 0 0 0 4 6z"/>
        </svg>
    </div>
<div class="message-form">
  <form method="post">
    {% csrf_token %}
    <hr>
    <label for="id_name">What's your name  ?</label>
    <input type="text" name="name" id="id_name" placeholder="john alex *" required>
    <br><br>
    <hr>
    <label for="id_email">What's your email  ?</label>
    <input type="email" name="email" id="id_email" placeholder="john@alex.com *" required>
    <br><br>
    <hr>
    <label for="id_organization_name">What's the name of your organization  ?</label>
    <input type="text" name="organization_name" id="id_organization_name" placeholder="microsoft" required>
    <br><br>
    <hr>
    <label for="id_services_needed">What services are you looking for  ?</label>
    <textarea name="services_needed" id="id_services_needed" placeholder="Software Developent, Web Development, Data Analytics ..." required></textarea>
    <br><br>
    <hr>
    <label for="id_message">What's your message  ?</label>
    <textarea name="message" id="id_message" placeholder="Hello Shanu, i need help ..." required></textarea>
    <br><br>
    <div class="getintouch" id="getInTouch">
      <div><hr></div>
     <button class="submit" type="submit">Dispatch <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-send-check-fill" viewBox="0 0 16 16">
      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
      <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
    </svg></button>
    </div>
    
</form>
</div>

<div class="social-background">
  <a href="{{ instagram_link }}"> Instagram </a>
  <a href="{{ linkedin_link }}"> Linkedin </a>
  <a href="{{ github_link}}"> Github</a>
  <a href="{{ twitter_link }}"> X</a>
  <a>{{ email }}</a>
  <a>+91 {{ phone_number }}</a>
</div>