{% load static %}
<header class="navbar-part content-wrapper">
  <div class="row">
    <nav class="navigation col-12">
      <div class="flex-container">
        <div class="flex-item"><a href="{% url 'ProjectsApp:Projects' %}" class="">Projects</a></div>
        <div class="flex-item"><a href="{% url 'aboutApp:about' %}" class="">About</a></div>
        <div class="flex-item"><a href="{% url 'contactApp:Contact' %}" class="">Connect</a></div>
      </div>
    </nav>
  </div>
</header>



<div class="branding magnetic">
                <a class="btn-clicks" href="https://github.com/shanu-shahbin/" target="_blank">
                    <p class="btn-text">
                        <section class="credit">
                                <em>&nbsp; </em>
                        </section>
                        <article class="cbd">
                            <em class="code-by">Code by</em>
                            <em class="adriel-span">Shanu&nbsp; &nbsp;</em>
                            <em class="laurentino">&nbsp;&nbsp;Shahbin</em>
                          <em></em>
                        </article>
                   </p>
                </a>
            </div>           
          </div>
