<style>
  body {
    background: #000000 ;
    color: #fff;
  }
  video {
  width: 87%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: #fff 2px 0 15px;
  margin-left: 60px;
 
}


  img {
    width: 87%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: #fff 2px 0 15px;
    margin-left: 60px;
    padding: 10px;
    margin-top: 58px;
    background-color: #fff;
  }
  


  h1{
    text-align: center;
    font-size: 60px;
    margin-top: 35px;
    font-family: 'Arial', sans-serif;

    color: #fff;
    font-weight: 400;
    text-shadow: #222 1px 0 10px;
  }

  .description{
    padding-top: 40px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    text-align: justify;
}

  .features{
    padding-top: 45px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: justify;

  }
 h2{
  text-align: center;
  padding: 10px;
 }

 .working{

  font-size: 20px;
  font-family: 'Arial', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  text-align: justify;
 }
 .End{
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: center;
  
 }
 .repo{
  text-decoration: none;
  color: yellow;
 }
 .repo:hover{
  color: #fff;
 }
 .bi bi-github{
  fill: #fff;
 }
 .tech{
  font-size: 22px;
  font-family: 'Arial', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  color: yellow;

 }

</style>

{% load static %}
<div class="container content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ project.project_heading }}</h1>
      <img src="{{ project.project_image_2.url }}" alt="">
      <div class="description">
      <p>{{ project.description }}</p>
      <h2>Technology Used</h2>
      <div class="tech">[ {{ project.technology_used  }} ]</div>
      </div>
      <video  controls autoplay>
        <source src="{{ project.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="features">
        <h2>Features</h2>
      <div>{{ project.features }}</div>
      </div>
      <div class="working">
      <h2>Working</h2>
      <div>{{ project.working }}</div>
      </div>
      <div class="End">🧑‍🍼🎂 {{ project.short_description }}  |<a href="{{ project.github_link}}" target="_blank" class="repo"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="15" fill="#fff" class="bi bi-github" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg>Clone it 👩‍💻</a>
      </div>
    </div>
  </div>
</div>
